body{
	background:#e2e2e2!important;
}
.bg-primary{
	background:	#3c3c3c!important;
}
.banner{
	width:100%;
	height:93vh;
	color:white;
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) ,url(../img/back.png);
	backgounbd-size:cover;
}
/* .row{
	background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) ,url(../img/form_background.png);
	
} */
.my-card{
	padding:20px;
	background:#ffffff!important;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 420px;
  border: 1px solid #9C9C9C;
  background-color: white;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

@media only screen and (max-width: 600px){
	.sidebar{
		display:none;
		width:80%!important;
		background:white;
		height:100vh;
		position:fixed;
		padding-top:20px;
	}
	.content{
		margin-left:0% !important;
	}
}

.sidebar{
	width:18%;
	height:100vh;
    padding-top:45px;
	background:white;
	position:fixed;
	z-index:999999999999999999999999;
	
}
.sidebar a{
	display:block;
	width:100%;
	padding:10px 25px;
	text-decoration:none;	
	color:gray;
} 
.sidebar a:hover{
	background:#e2e2e2;
} 
.sidebar .divider{
	height:0.5px;
	width:100%;
	background:#e2e2e2;
	margin-top:10px;
}
.content{
	margin-left:20%;
}

.sidebar .crossbtn{
	position:absolute;
	top:0;
	right:35px;
	font-size:30px;
	cursor:pointer;
}

.my_profile_image{
	width:35px;
	height:35px;
	object-fit:cover;
	border-radius:50%;
}
	/* Search Css */
.search-container{
	position:relative;
}
.search-result{
	position:absolute;
	background:white;
	width:100%;
	border:1px solid gray;
	padding:10px;
	display:none;
}

.active{
	background:	#4d4d4d !important;
	color:white!important;
}



